*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e9e9e9;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.bg-light {
    background-color: #d9e9f9!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-info {
    color: #fff;
    background-color: #114394;
    border-color: #114394;
    padding: 7px 40px;
    text-transform: uppercase;
}
.btn-info:hover{
    color: #114394;
    background-color: #d9e9f9!important;
    border-color: #114394;
}
.skill{
    display: none;
    margin: 5px 0 0 0;
    padding: 5px 10px;
}
#skill_dropdown{
    padding: 8px;
    border: none;
    color: white;
}

.form_test{
    display: none;
    background-color: #d9e9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form_test_2{
    display: none;
    background-color: #d9e9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.update_form{
    background-color: #d9e9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 .form_test h4{
        text-align: center;
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 25px;
}
.form_test_2 h4{
    text-align: center;
text-transform: uppercase;
font-size: large;
margin-bottom: 25px;
}
 .select {
    position: relative;
    display: flex;
    width: 18em;
    height: 3em;
    line-height: 3;
    background: #114394;
    overflow: hidden;
    color: white;
    border-radius: .25em;
 }
 #skill_dropdown_2{
        margin-top: -57px;
        margin-left: 24%!important;
    }
    #skill_dropdown_3{
        margin-top: -58px;
        margin-left: 24%!important;
    }
.logindata{
    background-color: #d9e9f9!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10%;
    margin-top: 10%;
    border-radius: 20px
}
.logindata h4{
    text-align: center;
    margin-bottom: 34px;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #114394;
    border-color: #114394;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
.nav-item button{
    
    background-color: #114394;
    border-color: #114394;
    padding: 0 20px;
    margin: 10px;
    text-transform: uppercase;
}
.table_test {
    display: none;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.table_test_2{
    display: none;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table .thead-dark th {
    color: #fff;
    background-color: #114394;
    border-color: #2e5ba3;
}
.bio h4{
    text-transform: uppercase;
    margin:0 0 20px 20px;
    font-weight: 700;
}
.fab h4{
    text-transform: uppercase;
    margin:0 0 20px 20px;
    font-weight: 700;
}
.auto h4{
    text-transform: uppercase;
    margin:0 0 20px 20px;
    font-weight: 700;
}
.fab_2 h4{
    text-transform: uppercase;
    margin:0 0 20px 20px;
    font-weight: 700;
}
.form_test_add{
 
    background-color: #d9e9f9;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form_test_add h4 {
    text-transform: uppercase;
    margin: 15px 0 36px 20px;
    font-weight: 700;
    text-align: center;
}
.btn_add {
    color: #fff;
    background-color: #114394;
    border-color: #114394;
    width: 50%!important;
    text-align: center;
    margin-top: 20px;
}
/* Extra small devices (phones, 600px and dthown) */
@media only screen and (min-width: 320px)and(max-width:768) {
    .select{
        width: 10em;
    }
    #skill_dropdown_3{
        margin-top: -58px;
        margin-left: 50%!important;

    }
#skill_dropdown_2{
    margin-top: -58px;
    margin-left: 50%!important;

    }
}
@media only screen and (min-width: 768px)and(max-width:920) {
    #skill_dropdown_3{
        margin-left: 40%!important;
    }
    #skill_dropdown_2{
        margin-left: 40%!important;
    }

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    

  }
  .sidenav a{
    text-decoration: none;
    color: #666464;
  }
  .sidenav ul li {
    padding: 15px 10px 15px 32px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #dfdfdf;
}
.home_dash{
    background-color: #d9e9f9;
}
  .admin_list ul li:hover{
    background: #d9e9f9;
   
}
  .sidenav .closebtn {
    margin-left: 82%;
    font-size: 36px;
   
  }
  .admin_list ul li i{
    font-size: 27px;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .sidenav a, .dropdown-btn {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    width: 100%;
    text-align: left;
    transition: all .3s ease-out;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #d9e9f9;
    
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
   
   
  }
  .dropdown-container ul li {
     border-bottom: 1px solid #dfdfdf;
     padding-left: 30%;
  }
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }